.kanban-container {
  position: relative;
  box-sizing: border-box;
  width: auto;
}

.kanban-container * {
  box-sizing: border-box;
}

.kanban-container:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-board {
  position: relative;
  float: left;
  background: #e2e4e6;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.kanban-board.disabled-board {
  opacity: 0.3;
}

.kanban-board.is-moving.gu-mirror {
  transform: rotate(3deg);
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
  overflow: hidden;
  padding-right: 50px;
}

.kanban-board header {
  font-size: 16px;
  padding: 15px;
}

.kanban-board header .kanban-title-board {
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: inline;
}

.kanban-board header .kanban-title-button {
  float: right;
}

.kanban-board .kanban-drag {
  min-height: 510px;
  padding: 8px;
  height: 0px;
  overflow: auto;
}

.kanban-board:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 8px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.kanban-item:hover {
  cursor: move;
}

.kanban-item:last-child {
  margin: 0;
}

.kanban-item.is-moving.gu-mirror {
  transform: rotate(3deg);
  height: auto !important;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2 !important;
  transform: rotate(0deg) !important;
}

.drag_handler {
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    top: -3px;
    margin-right: 4px;
}

.drag_handler:hover {
  cursor: move;
}

.drag_handler_icon {
    position: relative;
    display: block;
    background: #000;
    width: 24px;
    height: 2px;
    top: 12px;
    transition: .5s ease-in-out;
}

.drag_handler_icon:before,
.drag_handler_icon:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

 .drag_handler_icon:before {
    top: 6px;
}

.drag_handler_icon:after {
    bottom: 6px;
}

.verde{
  z-index: 10;
  color: #3c4858;
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 3px 20px -10px black;
}
.azulclaro{
  z-index: 10;
  color: #3c4858;
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 3px 20px -10px black;
}
.azul{
  z-index: 10;
  color: #3c4858;
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 3px 20px -10px black;
}
.amarelo{
  z-index: 10;
  color: #3c4858;
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 3px 20px -10px black;
}

.Atribuido {
  border-radius: 6px;
  border-top: 6px solid #00BFFF;
}
.Planejado{
  border-radius: 6px;
  border-top: 6px solid #4169E1;
}
.Pendende{
  border-radius: 6px;
  border-top: 6px solid #FFA500;
}
.Solucionado{
  border-radius: 6px;
  border-top: 6px solid #3CB371;
}

body {
  background-color: #eee;
  color: #3c4858;
  font-weight: 300;
}

/* background torre */
main.kanban-drag {
  background: white;
  bottom: 6px;
}

/* contador card*/
span#Atribuido {
  margin-left: 110px;
}
/* contador card*/
span#Planejado {
  margin-left: 110px;
}
/* contador card*/
span#Pendende {
  margin-left: 105px;
}
/* contador card*/
span#Solucionado {
  margin-left: 87px;
}

/* titulo da torre */
.kanban-title-boards {
  margin-left: 15px;
  font-weight: bold;
  color: #3c4858;
  font-size: 19px;
  margin-top: -7px;
}

/* Sombra card */
.kanban-item.item_handle {
  border-radius: 4px;
  box-shadow: 0px 0px 7px -1px #0000004f;
}

/* Font card */
.kanban-item.item_handle {
  font-weight: normal;
  color: #3c4858;
  letter-spacing: -.3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* location kanban */
.content {
margin-left: 30px;
margin-top: 195px;
}

/* Input pesqui */
.row.fixed-top {
margin-top: 70px;
}

.card {
border-radius: 40px !important;
}

a.nav-link.active{
border-bottom: 2px solid #336099;
}

i.material-icons.icon-search {
color: #336099;
font-size: 32px;
margin-right: 12px;
position: relative;
top: 4px;
}

/* dimansão da tela  */
.wrapper {
position: relative;
top: 0;
height: 69vh !important;
}

/* img FOOTER */
img#FHE_POUPEX {
background-color: #343a406e;
}

/* Numero chamado */
a#numChamado {
color: #707070;
font-size: 13px;
}

/* Prioridade */
span#Média {
margin-left: 121px;
font-size: 13px;
color: white;
background: #ff9800;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

span#Alta {
margin-left: 134px;
font-size: 13px;
color: white;
background: #e91e63;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

span#Critical {
margin-left: 118px;
font-size: 13px;
color: white;
background: #e91e63;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

span#Baixa {
margin-left: 128px;
font-size: 13px;
color: white;
background: #00bcd4;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

span#Muitoalta {
margin-left: 100px;
font-size: 13px;
color: white;
background: #e91e1e;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

span#Muitobaixa {
margin-left: 91px;
font-size: 13px;
color: white;
background: #4caf50;
border-radius: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

main.kanban-drag {
box-shadow: 0px 0px 7px -1px #0000004f;
}